@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
background-image: url(../src/assets/fondo.svg);
background-color: black;
background-repeat: no-repeat;
background-size: cover;
font-family: "Manrope", sans-serif;
}

.rojo{
    color:#FF0008;
}
.border-rojo{
  border-color: #FF0008;
}
.text-rojo{
 color: #FF0008;
}
.camaron{
  color:#FF8092
}
.fondo-trans{
  background-color: #0000008f
}

.bg-rojo{
    background-color:#FF0008;
}

/* Estilos para la paginación personalizada */
.custom-pagination {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #FF0008;
  }
  
  .custom-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ccc; /* Color de los puntos inactivos */
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-pagination .swiper-pagination-bullet-active {
    background-color: #FF0008; /* Color del punto activo */
  }

 .transparente{
  background: rgb(9,0,0);
  background: linear-gradient(180deg, rgba(9,0,0,0.05646008403361347) 0%, rgba(0,0,0,0.5130427170868348) 100%);
 }

.degradado{
  background-image: url(../src/assets/fondo.svg);
background-color: black;
background-repeat: no-repeat;
background-size: cover;
}
.degrade{
background: rgb(40,0,0);
background: linear-gradient(180deg, rgba(40,0,0,1) 0%, rgba(9,0,0,1) 45%);
}

.lineas{
  background-image: url(../src/assets/Topografia.svg);
background-repeat: no-repeat;
}
.degradado-rojo{
background: rgb(253,1,9);
background: linear-gradient(90deg, rgba(253,1,9,1) 0%, rgba(124,0,4,1) 49%);
}
.imagen{
  background-image: url(../src/assets/sucio.png);
background-repeat: no-repeat;
background-size: cover;
}

.azulito{
  background-color: #6B39F4;
}

.nft{
  background-image: url(../src/assets/Img.png);
background-repeat: no-repeat;
background-size: cover;
}

.degradado-pie{
  background: rgb(40,0,0);
background: linear-gradient(180deg, rgba(40,0,0,1) 0%, rgba(9,0,0,1) 49%);
}

.foto{
  background-image: url(../src/assets/foto.svg);
background-repeat: no-repeat;
width: 44px;
height: 44px;
}
.negativo{
  margin-top: -27px;
}